In [2]:
import pandas as pd

In [5]:
Stations_W_Data = pd.read_pickle('Stations_W_Data.pkl')
Stations_W_Data

,name,line,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
0,Astor Pl,4-6-6 Express,POINT (-73.99107 40.73005),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
400,8th St - NYU,N-Q-R-W,POINT (-73.99251 40.73046),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
1,Canal St,4-6-6 Express,POINT (-74.00019 40.71880),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
416,Canal St,R-W,POINT (-74.00183 40.71947),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
434,Canal St,N-Q,POINT (-74.00105 40.71881),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
...,...,...,...,...,...,...,...,...,...,...,...
467,125th St,4-5-6-6 Express,POINT (-73.93759 40.80414),36061019600,"Census Tract 196, New York County, New York",3278,544,42541,0.446229,1462,172
469,34th St - Hudson Yards,7-7 Express,POINT (-74.00220 40.75545),36061009900,"Census Tract 99, New York County, New York",4995,3991,113702,0.447427,2234,1704
470,72nd St,Q,POINT (-73.95836 40.76880),36061012600,"Census Tract 126, New York County, New York",10346,7228,85911,0.550661,5697,3879
471,86th St,Q,POINT (-73.95177 40.77786),36061014601,"Census Tract 146.01, New York County, New York",3734,3164,92485,0.492126,1837,1533
472,96th St,Q,POINT (-73.94707 40.78424),36061015602,"Census Tract 156.02, New York County, New York",1722,667,69221,0.608643,1048,317