In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open('df_education.pkl', 'rb') as read_file:
    df_education = pickle.load(read_file)

In [3]:
df_education.set_index('GEO_ID')

,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree
GEO_ID,,,,,,,,
1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0
1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0
1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280
1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0
1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571
...,...,...,...,...,...,...,...,...
1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432
1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0
1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426
1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389
1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0

In [4]:
with open('df_gender_age.pkl', 'rb') as read_file:
    df_gender_age = pickle.load(read_file)

In [5]:
df_gender_age.set_index('GEO_ID')

,NAME,Total population - Sex ratio (males per 100 females)
GEO_ID,,
1400000US36061000100,"Census Tract 1, New York County, New York",0.0
1400000US36061000201,"Census Tract 2.01, New York County, New York",73.7
1400000US36061000202,"Census Tract 2.02, New York County, New York",77.7
1400000US36061000500,"Census Tract 5, New York County, New York",0.0
1400000US36061000600,"Census Tract 6, New York County, New York",87.6
...,...,...
1400000US36061030900,"Census Tract 309, New York County, New York",81.9
1400000US36061031100,"Census Tract 311, New York County, New York",0.0
1400000US36061031703,"Census Tract 317.03, New York County, New York",100.1
1400000US36061031704,"Census Tract 317.04, New York County, New York",106.3
1400000US36061031900,"Census Tract 319, New York County, New York",0.0

In [6]:
df_census = df_education.join(df_gender_age, how = "outer", rsuffix = 'r')
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,GEO_IDr,NAMEr,Total population - Sex ratio (males per 100 females)
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0,1400000US36061000100,"Census Tract 1, New York County, New York",0.0
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0,1400000US36061000201,"Census Tract 2.01, New York County, New York",73.7
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280,1400000US36061000202,"Census Tract 2.02, New York County, New York",77.7
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0,1400000US36061000500,"Census Tract 5, New York County, New York",0.0
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571,1400000US36061000600,"Census Tract 6, New York County, New York",87.6
...,...,...,...,...,...,...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432,1400000US36061030900,"Census Tract 309, New York County, New York",81.9
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0,1400000US36061031100,"Census Tract 311, New York County, New York",0.0
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426,1400000US36061031703,"Census Tract 317.03, New York County, New York",100.1
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389,1400000US36061031704,"Census Tract 317.04, New York County, New York",106.3
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0,1400000US36061031900,"Census Tract 319, New York County, New York",0.0

In [7]:
del df_census['GEO_IDr']
del df_census['NAMEr']
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Total population - Sex ratio (males per 100 females)
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0,0.0
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0,73.7
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280,77.7
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0,0.0
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571,87.6
...,...,...,...,...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432,81.9
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0,0.0
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426,100.1
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389,106.3
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0,0.0

In [8]:
df_census["Female Ratio"]=100/(df_census["Total population - Sex ratio (males per 100 females)"]+100)

In [9]:
df_census["Total Female Population - 25 years and over"] = df_census["Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over"]*df_census["Female Ratio"]

In [10]:
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Total population - Sex ratio (males per 100 females),Female Ratio,Total Female Population - 25 years and over
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0,73.7,0.575705,1077.144502
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280,77.7,0.562746,3345.526168
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571,87.6,0.533049,4271.321962
...,...,...,...,...,...,...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432,81.9,0.549753,3827.377680
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426,100.1,0.499750,1881.559220
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389,106.3,0.484731,3825.981580
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000

In [11]:
df_census["GEO_ID"]=df_census["GEO_ID"].str[9:]
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Total population - Sex ratio (males per 100 females),Female Ratio,Total Female Population - 25 years and over
1,36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000
2,36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0,73.7,0.575705,1077.144502
3,36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280,77.7,0.562746,3345.526168
4,36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000
5,36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571,87.6,0.533049,4271.321962
...,...,...,...,...,...,...,...,...,...,...,...,...
284,36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432,81.9,0.549753,3827.377680
285,36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000
286,36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426,100.1,0.499750,1881.559220
287,36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389,106.3,0.484731,3825.981580
288,36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0,0.0,1.000000,0.000000

In [12]:
df_census.to_pickle("df_census.pkl")