In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open('df_education.pkl', 'rb') as read_file:
    df_education = pickle.load(read_file)

In [3]:
df_education.set_index('GEO_ID')

,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree
GEO_ID,,,,,,,,
1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0
1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0
1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280
1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0
1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571
...,...,...,...,...,...,...,...,...
1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432
1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0
1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426
1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389
1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0

In [4]:
with open('df_gender_age.pkl', 'rb') as read_file:
    df_gender_age = pickle.load(read_file)

In [5]:
df_gender_age.set_index('GEO_ID')

,NAME,Total population,Total population - Female,Total population - Sex ratio (males per 100 females),Total population - 20 to 24 years,Total population - 25 to 34 years,Total population - 35 to 44 years,Total population - 45 to 54 years,Total population - 55 to 59 years,Total population - 60 to 64 years,Total population - 18 years and over - Female,Total population - 18 years and over - Sex ratio (males per 100 females)
GEO_ID,,,,,,,,,,,,
1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0.0,0,0,0,0,0,0,0,0.0
1400000US36061000201,"Census Tract 2.01, New York County, New York",2750,1583,73.7,168,299,434,364,100,231,1295,63.7
1400000US36061000202,"Census Tract 2.02, New York County, New York",7773,4373,77.7,395,882,1065,1355,413,567,3607,79.5
1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0.0,0,0,0,0,0,0,0,0.0
1400000US36061000600,"Census Tract 6, New York County, New York",9838,5245,87.6,509,1363,778,1311,495,742,4643,84.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1400000US36061030900,"Census Tract 309, New York County, New York",10593,5824,81.9,733,1793,1016,1604,481,580,4615,72.3
1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0.0,0,0,0,0,0,0,0,0.0
1400000US36061031703,"Census Tract 317.03, New York County, New York",5783,2890,100.1,77,713,1708,735,177,97,2016,91.3
1400000US36061031704,"Census Tract 317.04, New York County, New York",10224,4956,106.3,282,1752,2073,1819,665,638,4126,99.1
1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0.0,0,0,0,0,0,0,0,0.0

In [6]:
df_census = df_education.join(df_gender_age, how = "outer", rsuffix = 'r')
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,GEO_IDr,...,Total population - Female,Total population - Sex ratio (males per 100 females),Total population - 20 to 24 years,Total population - 25 to 34 years,Total population - 35 to 44 years,Total population - 45 to 54 years,Total population - 55 to 59 years,Total population - 60 to 64 years,Total population - 18 years and over - Female,Total population - 18 years and over - Sex ratio (males per 100 females)
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0,1400000US36061000100,...,0,0.0,0,0,0,0,0,0,0,0.0
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0,1400000US36061000201,...,1583,73.7,168,299,434,364,100,231,1295,63.7
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280,1400000US36061000202,...,4373,77.7,395,882,1065,1355,413,567,3607,79.5
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0,1400000US36061000500,...,0,0.0,0,0,0,0,0,0,0,0.0
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571,1400000US36061000600,...,5245,87.6,509,1363,778,1311,495,742,4643,84.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432,1400000US36061030900,...,5824,81.9,733,1793,1016,1604,481,580,4615,72.3
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0,1400000US36061031100,...,0,0.0,0,0,0,0,0,0,0,0.0
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426,1400000US36061031703,...,2890,100.1,77,713,1708,735,177,97,2016,91.3
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389,1400000US36061031704,...,4956,106.3,282,1752,2073,1819,665,638,4126,99.1
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0,1400000US36061031900,...,0,0.0,0,0,0,0,0,0,0,0.0

In [7]:
del df_census['GEO_IDr']
del df_census['NAMEr']
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree,Female - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Graduate or professional degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Female - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Total population,Total population - Female,Total population - Sex ratio (males per 100 females),Total population - 20 to 24 years,Total population - 25 to 34 years,Total population - 35 to 44 years,Total population - 45 to 54 years,Total population - 55 to 59 years,Total population - 60 to 64 years,Total population - 18 years and over - Female,Total population - 18 years and over - Sex ratio (males per 100 females)
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,153,54,50789,0,2750,1583,73.7,168,299,434,364,100,231,1295,63.7
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,667,516,42311,69280,7773,4373,77.7,395,882,1065,1355,413,567,3607,79.5
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,599,187,0,113571,9838,5245,87.6,509,1363,778,1311,495,742,4643,84.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,671,244,41827,59432,10593,5824,81.9,733,1793,1016,1604,481,580,4615,72.3
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,701,820,110313,118426,5783,2890,100.1,77,713,1708,735,177,97,2016,91.3
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1746,1876,85389,128389,10224,4956,106.3,282,1752,2073,1819,665,638,4126,99.1
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0