In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
key = pd.read_pickle("station_key.pkl")
key.rename(columns={"matches":"name"}, inplace = True)
key

             STATION     STATION_CLEAN                        name
0              59 ST           59th St                     59th St
1         5 AV/59 ST          559th St                     55th St
2         57 ST-7 AV     577th St-7 Av                     77th St
3              49 ST           49th St                     49th St
4     TIMES SQ-42 ST  Times Sq-42nd St          Times Sq - 42nd St
..               ...               ...                         ...
374  EASTCHSTER/DYRE   Eastchster-Dyre      Eastchester - Dyre Ave
375       ST. GEORGE        St. George   Cathedral Pkwy (110th St)
376    TOMPKINSVILLE     Tompkinsville
377    RIT-MANHATTAN     Rit-Manhattan
378    RIT-ROOSEVELT     Rit-Roosevelt  Roosevelt Island - Main St

[379 rows x 3 columns]

In [3]:
mta = pd.read_pickle("mta_daily_data_v1.pkl")
mta

,CA,UNIT,SCP,STATION,TURNSTILE,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,WEEKDAY,WEEKDAY_INDEX,WEEK_OF_YEAR
1,A002,R051,02-00-00,59 ST,A002 R051 02-00-00 59 ST,2019-03-17,6981564,03/16/2019,6980704.0,860.0,Sunday,6,11
2,A002,R051,02-00-00,59 ST,A002 R051 02-00-00 59 ST,2019-03-18,6982134,03/17/2019,6981564.0,570.0,Monday,0,12
3,A002,R051,02-00-00,59 ST,A002 R051 02-00-00 59 ST,2019-03-19,6983646,03/18/2019,6982134.0,1512.0,Tuesday,1,12
4,A002,R051,02-00-00,59 ST,A002 R051 02-00-00 59 ST,2019-03-20,6985159,03/19/2019,6983646.0,1513.0,Wednesday,2,12
5,A002,R051,02-00-00,59 ST,A002 R051 02-00-00 59 ST,2019-03-21,6986742,03/20/2019,6985159.0,1583.0,Thursday,3,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
372196,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-27,5554,05/26/2019,5554.0,0.0,Monday,0,22
372197,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-28,5554,05/27/2019,5554.0,0.0,Tuesday,1,22
372198,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-29,5554,05/28/2019,5554.0,0.0,Wednesday,2,22
372199,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-30,5554,05/29/2019,5554.0,0.0,Thursday,3,22
372200,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-31,5554,05/30/2019,5554.0,0.0,Friday,4,22

In [4]:
stations_w_data = pd.read_csv("https://raw.githubusercontent.com/dunleavyjason/project-1/Alexander/GeoSpatial%20Data/Stations_W_Data.csv")
stations_w_data

,Unnamed: 0,name,line,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
0,0,Astor Pl,4-6-6 Express,POINT (-73.99106999861966 40.73005400028978),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
1,400,8th St - NYU,N-Q-R-W,POINT (-73.99250799849149 40.73046499853991),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
2,1,Canal St,4-6-6 Express,POINT (-74.00019299927328 40.71880300107709),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
3,416,Canal St,R-W,POINT (-74.0018260000577 40.71946500105898),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
4,434,Canal St,N-Q,POINT (-74.00105471306033 40.71881426358713),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
...,...,...,...,...,...,...,...,...,...,...,...,...
147,467,125th St,4-5-6-6 Express,POINT (-73.93759400055725 40.80413800058724),36061019600,"Census Tract 196, New York County, New York",3278,544,42541,0.446229,1462,172
148,469,34th St - Hudson Yards,7-7 Express,POINT (-74.00219709442206 40.75544635961596),36061009900,"Census Tract 99, New York County, New York",4995,3991,113702,0.447427,2234,1704
149,470,72nd St,Q,POINT (-73.95836178682246 40.76880251014895),36061012600,"Census Tract 126, New York County, New York",10346,7228,85911,0.550661,5697,3879
150,471,86th St,Q,POINT (-73.95177090964917 40.77786104333163),36061014601,"Census Tract 146.01, New York County, New York",3734,3164,92485,0.492126,1837,1533
151,472,96th St,Q,POINT (-73.9470660219183 40.78423665017765),36061015602,"Census Tract 156.02, New York County, New York",1722,667,69221,0.608643,1048,317

In [5]:
geopandas_merged = pd.merge(stations_w_data, key, on='name', how='left')
geopandas_merged

,Unnamed: 0,name,line,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree,STATION,STATION_CLEAN
0,0,Astor Pl,4-6-6 Express,POINT (-73.99106999861966 40.73005400028978),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126,ASTOR PL,Astor Pl
1,400,8th St - NYU,N-Q-R-W,POINT (-73.99250799849149 40.73046499853991),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126,8 ST-NYU,8th St-Nyu
2,1,Canal St,4-6-6 Express,POINT (-74.00019299927328 40.71880300107709),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232,CANAL ST,Canal St
3,1,Canal St,4-6-6 Express,POINT (-74.00019299927328 40.71880300107709),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232,75 ST-ELDERTS,75th St-Elderts
4,1,Canal St,4-6-6 Express,POINT (-74.00019299927328 40.71880300107709),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232,163 ST-AMSTERDM,163rd St-Amsterdm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,467,125th St,4-5-6-6 Express,POINT (-73.93759400055725 40.80413800058724),36061019600,"Census Tract 196, New York County, New York",3278,544,42541,0.446229,1462,172,125 ST,125th St
231,469,34th St - Hudson Yards,7-7 Express,POINT (-74.00219709442206 40.75544635961596),36061009900,"Census Tract 99, New York County, New York",4995,3991,113702,0.447427,2234,1704,34 ST-HUDSON YD,34th St-Hudson Yd
232,470,72nd St,Q,POINT (-73.95836178682246 40.76880251014895),36061012600,"Census Tract 126, New York County, New York",10346,7228,85911,0.550661,5697,3879,72 ST,72nd St
233,471,86th St,Q,POINT (-73.95177090964917 40.77786104333163),36061014601,"Census Tract 146.01, New York County, New York",3734,3164,92485,0.492126,1837,1533,86 ST,86th St
234,472,96th St,Q,POINT (-73.9470660219183 40.78423665017765),36061015602,"Census Tract 156.02, New York County, New York",1722,667,69221,0.608643,1048,317,96 ST,96th St

In [6]:
geopandas_merged.drop_duplicates(subset=["STATION"])

,Unnamed: 0,name,line,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree,STATION,STATION_CLEAN
0,0,Astor Pl,4-6-6 Express,POINT (-73.99106999861966 40.73005400028978),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126,ASTOR PL,Astor Pl
1,400,8th St - NYU,N-Q-R-W,POINT (-73.99250799849149 40.73046499853991),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126,8 ST-NYU,8th St-Nyu
2,1,Canal St,4-6-6 Express,POINT (-74.00019299927328 40.71880300107709),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232,CANAL ST,Canal St
3,1,Canal St,4-6-6 Express,POINT (-74.00019299927328 40.71880300107709),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232,75 ST-ELDERTS,75th St-Elderts
4,1,Canal St,4-6-6 Express,POINT (-74.00019299927328 40.71880300107709),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232,163 ST-AMSTERDM,163rd St-Amsterdm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,432,Broadway - Lafayette St,B-D-F-M,POINT (-73.99620399876055 40.72529699873805),36061005502,"Census Tract 55.02, New York County, New York",1491,1105,107250,0.471698,703,527,B'WAY-LAFAYETTE,B'Way-Lafayette
220,456,Bleecker St,4-6-6 Express,POINT (-73.99465900006331 40.72591466682659),36061005502,"Census Tract 55.02, New York County, New York",1491,1105,107250,0.471698,703,527,BLEECKER ST,Bleecker St
222,442,8th Ave,L,POINT (-74.00257800104762 40.73977666638199),36061008300,"Census Tract 83, New York County, New York",3116,1932,59348,0.485673,1513,769,8 AV,8th Av
223,449,110th St,4-6-6 Express,POINT (-73.94424999687163 40.79502000011311),36061017200,"Census Tract 172, New York County, New York",3549,1122,27269,0.517063,1835,599,110 ST,110th St
231,469,34th St - Hudson Yards,7-7 Express,POINT (-74.00219709442206 40.75544635961596),36061009900,"Census Tract 99, New York County, New York",4995,3991,113702,0.447427,2234,1704,34 ST-HUDSON YD,34th St-Hudson Yd

In [7]:
final_merge = pd.merge(mta, geopandas_merged, on='STATION', how='left')
final_merge.sample(50)

,CA,UNIT,SCP,STATION,TURNSTILE,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,...,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree,STATION_CLEAN
445311,R160,R164,02-00-02,66 ST-LINCOLN,R160 R164 02-00-02 66 ST-LINCOLN,2019-04-28,4949619,04/27/2019,4.947664e+06,1955.0,...,POINT (-74.0062770001748 40.72285399778783),3.606100e+10,"Census Tract 37, New York County, New York",2155.0,1771.0,109224.0,0.504032,1086.0,860.0,66th6 St-Lincoln
282602,N408A,R256,00-00-00,NASSAU AV,N408A R256 00-00-00 NASSAU AV,2019-05-18,512809,05/17/2019,5.104920e+05,2317.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138151,N043,R186,00-03-02,86 ST,N043 R186 00-03-02 86 ST,2019-05-15,29985,05/14/2019,2.946900e+04,516.0,...,POINT (-73.96882849429672 40.78582304678557),3.606101e+10,"Census Tract 143, New York County, New York",1.0,0.0,0.0,1.000000,1.0,0.0,86th St
407661,R135,R031,01-00-00,34 ST-PENN STA,R135 R031 01-00-00 34 ST-PENN STA,2019-03-23,15593042,03/22/2019,1.559036e+07,2680.0,...,POINT (-74.0018260000577 40.71946500105898),3.606100e+10,"Census Tract 45, New York County, New York",757.0,452.0,90167.0,0.459137,347.0,232.0,34th St-Penn Sta
227440,N098,R028,00-07-00,FULTON ST,N098 R028 00-07-00 FULTON ST,2019-05-20,1362975,05/19/2019,1.362783e+06,192.0,...,POINT (-74.00793800110387 40.71002266658424),3.606100e+10,"Census Tract 15.02, New York County, New York",5575.0,5001.0,106035.0,0.496524,2768.0,2364.0,Fulton St
58448,B016,R098,00-00-02,CHURCH AV,B016 R098 00-00-02 CHURCH AV,2019-05-15,10423431,05/14/2019,1.042194e+07,1488.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434594,R151,R033,00-00-00,TIMES SQ-42 ST,R151 R033 00-00-00 TIMES SQ-42 ST,2019-05-09,1468616,05/08/2019,1.468269e+06,347.0,...,POINT (-73.98676800153976 40.75461199851542),3.606101e+10,"Census Tract 113, New York County, New York",91.0,39.0,91250.0,0.234687,21.0,23.0,Times Sq-42nd St
462129,R169,R168,01-00-02,96 ST,R169 R168 01-00-02 96 ST,2019-05-14,353289,05/13/2019,3.522700e+05,1019.0,...,POINT (-73.9470660219183 40.78423665017765),3.606102e+10,"Census Tract 156.02, New York County, New York",1722.0,667.0,69221.0,0.608643,1048.0,317.0,96th St
477569,R182,R035,00-00-00,168 ST,R182 R035 00-00-00 168 ST,2019-05-05,330544,05/04/2019,3.303990e+05,145.0,...,POINT (-73.93956099985425 40.84071899990795),3.606103e+10,"Census Tract 251, New York County, New York",2063.0,522.0,28979.0,0.471254,972.0,287.0,168th St
231848,N111,R284,00-00-01,CLINTON-WASH AV,N111 R284 00-00-01 CLINTON-WASH AV,2019-04-17,3774490,04/16/2019,3.773960e+06,530.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351467,PTH06,R546,00-00-01,PAVONIA/NEWPORT,PTH06 R546 00-00-01 PAVONIA/NEWPORT,2019-04-27,353924,04/26/2019,3.507990e+05,3125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230309,N103,R127,00-06-00,JAY ST-METROTEC,N103 R127 00-06-00 JAY ST-METROTEC,2019-03-29,692553,03/28/2019,6.907640e+05,1789.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491691,R206,R014,02-00-00,FULTON ST,R206 R014 02-00-00 FULTON ST,2019-05-08,1857704,05/07/2019,1.856579e+06,1125.0,...,POINT (-74.00793800110387 40.71002266658424),3.606100e+10,"Census Tract 15.02, New York County, New York",5575.0,5001.0,106035.0,0.496524,2768.0,2364.0,Fulton St
579109,R307,R207,01-05-00,135 ST,R307 R207 01-05-00 135 ST,2019-03-29,3228,03/28/2019,3.227000e+03,1.0,...,POINT (-73.94753480879213 40.81790555921268),3.606102e+10,"Census Tract 221.02, New York County, New York",2033.0,1289.0,65030.0,0.478240,972.0,721.0,135th St
219989,N095,R014,00-05-00,FULTON ST,N095 R014 00-05-00 FULTON ST,2019-04-11,14251,04/10/2019,1.424900e+04,2.0,...,POINT (-74.00950899856461 40.71036799882214),3.606100e+10,"Census Tract 15.02, New York County, New York",5575.0,5001.0,106035.0,0.496524,2768.0,2364.0,Fulton St
628794,R612,R057,01-00-02,ATL AV-BARCLAY,R612 R057 01-00-02 ATL AV-BARCLAY,2019-05-10,1807765,05/09/2019,1.807413e+06,352.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624985,R604,R108,03-00-02,BOROUGH HALL,R604 R108 03-00-02 BOROUGH HALL,2019-04-24,6261589,04/23/2019,6.260330e+06,1259.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312631,N519A,R461,01-05-02,B'WAY-LAFAYETTE,N519A R461 01-05-02 B'WAY-LAFAYETTE,2019-04-09,1928603558,04/08/2019,1.928604e+09,0.0,...,POINT (-73.99620399876055 40.72529699873805),3.606101e+10,"Census Tract 55.02, New York County, New York",1491.0,1105.0,107250.0,0.471698,703.0,527.0,B'Way-Lafayette
452481,R161B,R452,00-03-00,72 ST,R161B R452 00-03-00 72 ST,2019-04-15,7540946,04/14/2019,7.539377e+06,1569.0,...,POINT (-73.976336575218 40.77551939729258),3.606101e+10,"Census Tract 143, New York County, New York",1.0,0.0,0.0,1.000000,1.0,0.0,72nd St
247043,N202,R315,00-00-01,155 ST,N202 R315 00-00-01 155 ST,2019-04-05,6508492,04/04/2019,6.507530e+06,962.0,...,POINT (-73.94151400082208 40.83051799929251),3.606102e+10,"Census Tract 235.01, New York County, New York",4732.0,2021.0,37806.0,0.516529,2444.0,997.0,155th5 St
285005,N414A,R316,01-00-01,FLUSHING AV,N414A R316 01-00-01 FLUSHING AV,2019-04-02,546362,04/01/2019,5.459980e+05,364.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469007,R173,R159,00-00-01,116 ST-COLUMBIA,R173 R159 00-00-01 116 ST-COLUMBIA,2019-05-22,136051,05/21/2019,1.338770e+05,2174.0,...,POINT (-73.9416169983714 40.7986290002001),3.606102e+10,"Census Tract 182, New York County, New York",5395.0,1621.0,32407.0,0.554017,2988.0,1090.0,116th St-Columbia
112986,N003,R185,00-00-00,DYCKMAN ST,N003 R185 00-00-00 DYCKMAN ST,2019-03-26,10969460,03/25/2019,1.096667e+07,2791.0,...,POINT (-73.92727099960726 40.86549099896892),3.606103e+10,"Census Tract 287, New York County, New York",3223.0,1347.0,34216.0,0.526870,1698.0,841.0,Dyckman St
25972,A043,R462,00-03-01,CANAL ST,A043 R462 00-03-01 CANAL ST,2019-04-22,5014205,04/21/2019,5.013570e+06,635.0,...,POINT (-74.0062770001748 40.72285399778783),3.606100e+10,"Census Tract 37, New York County, New York",2155.0,1771.0,109224.0,0.504032,1086.0,860.0,Canal St
477919,R182,R035,00-03-01,168 ST,R182 R035 00-03-01 168 ST,2019-03-18,10843786,03/17/2019,1.084296e+07,821.0,...,POINT (-73.93956099985425 40.84071899990795),3.606103e+10,"Census Tract 251, New York County, New York",2063.0,522.0,28979.0,0.471254,972.0,287.0,168th St
495378,R208,R014,03-01-00,FULTON ST,R208 R014 03-01-00 FULTON ST,2019-05-20,894587,05/19/2019,8.945290e+05,58.0,...,POINT (-74.00657099970202 40.70941599925865),3.606100e+10,"Census Tract 15.02, New York County, New York",5575.0,5001.0,106035.0,0.496524,2768.0,2364.0,Fulton St
595557,R419,R326,00-00-01,ZEREGA AV,R419 R326 00-00-01 ZEREGA AV,2019-03-29,98620,03/28/2019,9.824400e+04,376.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332105,N605,R024,00-00-00,SUTPHIN-ARCHER,N605 R024 00-00-00 SUTPHIN-ARCHER,2019-04-11,4090112,04/10/2019,4.088061e+06,2051.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495363,R208,R014,03-01-00,FULTON ST,R208 R014 03-01-00 FULTON ST,2019-05-16,893933,05/15/2019,8.936470e+05,286.0,...,POINT (-74.00793800110387 40.71002266658424),3.606100e+10,"Census Tract 15.02, New York County, New York",5575.0,5001.0,106035.0,0.496524,2768.0,2364.0,Fulton St
113692,N007A,R174,00-00-00,181 ST,N007A R174 00-00-00 181 ST,2019-04-09,10258311,04/08/2019,1.025621e+07,2104.0,...,POINT (-73.93796900205011 40.85169499974462),3.606103e+10,"Census Tract 273, New York County, New York",5510.0,4075.0,54277.0,0.517063,2849.0,2252.0,181st81 St
541117,R240,R047,00-03-06,GRD CNTRL-42 ST,R240 R047 00-03-06 GRD CNTRL-42 ST,2019-05-24,15346973,05/23/2019,1.534378e+07,3194.0,...,POINT (-73.99982638545937 40.71817387697391),3.606100e+10,"Census Tract 41, New York County, New York",6274.0,3274.0,54700.0,0.495540,3109.0,1467.0,Grd Cntrl-42nd St
114002,N007A,R174,00-00-02,181 ST,N007A R174 00-00-02 181 ST,2019-04-12,9774912,04/11/2019,9.773030e+06,1882.0,...,POINT (-73.93796900205011 40.85169499974462),3.606103e+10,"Census Tract 273, New York County, New York",5510.0,4075.0,54277.0,0.517063,2849.0,2252.0,181st81 St
399706,R127,R105,00-03-02,14 ST,R127 R105 00-03-02 14 ST,2019-04-30,11000025,04/29/2019,1.099739e+07,2631.0,...,POINT (-73.99620899921355 40.73822799969515),3.606101e+10,"Census Tract 81, New York County, New York",6625.0,5539.0,110921.0,0.461681,3058.0,2538.0,14th St
429005,R145,R032,00-06-02,TIMES SQ-42 ST,R145 R032 00-06-02 TIMES SQ-42 ST,2019-04-09,6477204,04/08/2019,6.475468e+06,1736.0,...,POINT (-73.98622899953202 40.75598300057008),3.606101e+10,"Census Tract 119, New York County, New York",1018.0,347.0,22131.0,0.416493,423.0,216.0,Times Sq-42nd St
122772,N020,R101,00-00-02,145 ST,N020 R101 00-00-02 145 ST,2019-05-17,11253210,05/16/2019,1.125106e+07,2151.0,...,POINT (-73.94408792823116 40.82476636087191),3.606102e+10,"Census Tract 231, New York County, New York",5321.0,1922.0,39401.0,0.503525,2679.0,1060.0,145th St
579645,R308,R344,00-00-01,145 ST,R308 R344 00-00-01 145 ST,2019-04-04,1457925,04/03/2019,1.456694e+06,1231.0,...,POINT (-73.93624499873299 40.82042099969279),3.606102e+10,"Census Tract 232, New York County, New York",5832.0,1547.0,24823.0,0.586510,3420.0,1032.0,145th St
30300,A046,R463,00-03-00,CANAL ST,A046 R463 00-03-00 CANAL ST,2019-05-22,9178217,05/21/2019,9.176992e+06,1225.0,...,POINT (-74.0018260000577 40.71946500105898),3.606100e+10,"Census Tract 45, New York County, New York",757.0,452.0,90167.0,0.459137,347.0,232.0,Canal St
357030,PTH12,R542,00-00-04,TWENTY THIRD ST,PTH12 R542 00-00-04 TWENTY THIRD ST,2019-04-24,2666576,04/23/2019,2.664616e+06,1960.0,...,POINT (-74.0062770001748 40.72285399778783),3.606100e+10,"Census Tract 37, New York County, New York",2155.0,1771.0,109224.0,0.504032,1086.0,860.0,Twenty Third St
188503,N076,R111,00-00-01,23 ST,N076 R111 00-00-01 23 ST,2019-04-06,10819942,04/05/2019,1.081775e+07,2192.0,...,POINT (-73.98934400102907 40.74130266729),3.606101e+10,"Census Tract 56, New York County, New York",3435.0,2692.0,141128.0,0.512821,1761.0,1259.0,23rd St
571563,R290,R161,00-00-04,KINGSBRIDGE RD,R290 R161 00-00-04 KINGSBRIDGE RD,2019-04-14,19078442,04/13/2019,1.907670e+07,1747.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362746,PTH16,R550,01-02-02,LACKAWANNA,PTH16 R550 01-02-02 LACKAWANNA,2019-05-05,79438,05/04/2019,7.943800e+04,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5093,A021,R032,01-00-01,TIMES SQ-42 ST,A021 R032 01-00-01 TIMES SQ-42 ST,2019-05-07,3379704,05/06/2019,3.376948e+06,2756.0,...,POINT (-73.98676800153976 40.75461199851542),3.606101e+10,"Census Tract 113, New York County, New York",91.0,39.0,91250.0,0.234687,21.0,23.0,Times Sq-42nd St
156148,N062A,R010,00-06-00,42 ST-PORT AUTH,N062A R010 00-06-00 42 ST-PORT AUTH,2019-04-04,5292958,04/03/2019,5.290261e+06,2697.0,...,POINT (-73.99982638545937 40.71817387697391),3.606100e+10,"Census Tract 41, New York County, New York",6274.0,3274.0,54700.0,0.495540,3109.0,1467.0,42nd St-Port Auth
568539,R262B,R195,05-00-01,161/YANKEE STAD,R262B R195 05-00-01 161/YANKEE STAD,2019-04-24,579399,04/23/2019,5.793990e+05,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356100,PTH12,R542,00-00-02,TWENTY THIRD ST,PTH12 R542 00-00-02 TWENTY THIRD ST,2019-03-19,72894,03/18/2019,7.109900e+04,1795.0,...,POINT (-74.0062770001748 40.72285399778783),3.606100e+10,"Census Tract 37, New York County, New York",2155.0,1771.0,109224.0,0.504032,1086.0,860.0,Twenty Third St
32288,A046,R463,00-06-00,CANAL ST,A046 R463 00-06-00 CANAL ST,2019-03-24,530667,03/23/2019,5.280000e+05,2667.0,...,POINT (-73.99982638545937 40.71817387697391),3.606100e+10,"Census Tract 41, New York County, New York",6274.0,3274.0,54700.0,0.495540,3109.0,1467.0,Canal St
576198,R304,R206,00-00-03,125 ST,R304 R206 00-00-03 125 ST,2019-03-25,2098852,03/24/2019,2.097822e+06,1030.0,...,POINT (-73.95224799734774 40.81107167299457),3.606103e+10,"Census Tract 257, New York County, New York",3292.0,2100.0,53313.0,0.478927,1576.0,1111.0,125th St
582443,R315,R406,01-00-02,PROSPECT AV,R315 R406 01-00-02 PROSPECT AV,2019-04-27,228807,04/26/2019,2.286040e+05,203.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277275,N340,R115,00-00-00,169 ST,N340 R115 00-00-00 169 ST,2019-04-29,3032396,04/28/2019,3.032047e+06,349.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592657,R414,R162,00-00-00,ELDER AV,R414 R162 00-00-00 ELDER AV,2019-03-17,4216943,03/16/2019,4.216128e+06,815.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
final_merge = final_merge[final_merge['STATION_CLEAN'].notna()]
final_merge

,CA,UNIT,SCP,STATION,TURNSTILE,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,...,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree,STATION_CLEAN
1972,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-17,4176924,03/16/2019,4174476.0,2448.0,...,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0,577th St-7 Av
1973,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-18,4178963,03/17/2019,4176924.0,2039.0,...,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0,577th St-7 Av
1974,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-19,4182205,03/18/2019,4178963.0,3242.0,...,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0,577th St-7 Av
1975,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-20,4185778,03/19/2019,4182205.0,3573.0,...,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0,577th St-7 Av
1976,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-21,4189385,03/20/2019,4185778.0,3607.0,...,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0,577th St-7 Av
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647091,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-27,5554,05/26/2019,5554.0,0.0,...,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0,Rit-Roosevelt
647092,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-28,5554,05/27/2019,5554.0,0.0,...,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0,Rit-Roosevelt
647093,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-29,5554,05/28/2019,5554.0,0.0,...,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0,Rit-Roosevelt
647094,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-30,5554,05/29/2019,5554.0,0.0,...,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0,Rit-Roosevelt
647095,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-31,5554,05/30/2019,5554.0,0.0,...,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0,Rit-Roosevelt

In [9]:
final_merge.drop(columns =["Unnamed: 0", "STATION_CLEAN"], inplace = True)
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438819 entries, 1972 to 647095
Data columns (total 24 columns):
 #   Column                                                            Non-Null Count   Dtype
---  ------                                                            --------------   -----
 0   CA                                                                438819 non-null  object
 1   UNIT                                                              438819 non-null  object
 2   SCP                                                               438819 non-null  object
 3   STATION                                                           438819 non-null  object
 4   TURNSTILE                                                         438819 non-null  object
 5   DATE                                                              438819 non-null  datetime64[ns]
 6   ENTRIES                                                           438819 non-null  int64
 7   PREV_DATE                                                         438819 non-null  object
 8   PREV_ENTRIES                                                      438819 non-null  float64
 9   DAILY_ENTRIES                                                     438819 non-null  float64
 10  WEEKDAY                                                           438819 non-null  object
 11  WEEKDAY_INDEX                                                     438819 non-null  int64
 12  WEEK_OF_YEAR                                                      438819 non-null  int64
 13  name                                                              438819 non-null  object
 14  line                                                              438819 non-null  object
 15  geometry                                                          438819 non-null  object
 16  GEOID                                                             438819 non-null  float64
 17  NAME_y                                                            438819 non-null  object
 18  Total Population - 25 years and over                              438819 non-null  float64
 19  Total Population - 25 years and over - Advanced Degrees           438819 non-null  float64
 20  Median Income - 25 years and over                                 438819 non-null  float64
 21  Female Population Ratio                                           438819 non-null  float64
 22  Total Female Population - 25 years and over                       438819 non-null  float64
 23  Total Female Population - 25 years and over - w/ advanced degree  438819 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(11)
memory usage: 83.7+ MB

In [10]:
final_merge

,CA,UNIT,SCP,STATION,TURNSTILE,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES,...,line,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
1972,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-17,4176924,03/16/2019,4174476.0,2448.0,...,4-6-6 Express,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0
1973,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-18,4178963,03/17/2019,4176924.0,2039.0,...,4-6-6 Express,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0
1974,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-19,4182205,03/18/2019,4178963.0,3242.0,...,4-6-6 Express,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0
1975,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-20,4185778,03/19/2019,4182205.0,3573.0,...,4-6-6 Express,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0
1976,A010,R080,00-00-00,57 ST-7 AV,A010 R080 00-00-00 57 ST-7 AV,2019-03-21,4189385,03/20/2019,4185778.0,3607.0,...,4-6-6 Express,POINT (-73.95987399886047 40.77362000074615),3.606101e+10,"Census Tract 128, New York County, New York",4315.0,3439.0,106170.0,0.526870,2273.0,1817.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647091,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-27,5554,05/26/2019,5554.0,0.0,...,F,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0
647092,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-28,5554,05/27/2019,5554.0,0.0,...,F,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0
647093,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-29,5554,05/28/2019,5554.0,0.0,...,F,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0
647094,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-30,5554,05/29/2019,5554.0,0.0,...,F,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0
647095,TRAM2,R469,00-05-01,RIT-ROOSEVELT,TRAM2 R469 00-05-01 RIT-ROOSEVELT,2019-05-31,5554,05/30/2019,5554.0,0.0,...,F,POINT (-73.95323499978866 40.75917199967108),3.606102e+10,"Census Tract 238.01, New York County, New York",5214.0,3672.0,77782.0,0.515198,2686.0,2134.0

In [11]:
final_merge.to_pickle("final_merge.pkl")