In [1]:
import pandas as pd

In [2]:
links=[]
dates=['190323','190330','190406','190413','190420','190427','190504','190511','190518','190525','190601']
links=[f"http://web.mta.info/developers/data/nyct/turnstile/turnstile_{date}.txt" for date in dates]
print (links[0])
print(len(links))

http://web.mta.info/developers/data/nyct/turnstile/turnstile_190323.txt
11

In [3]:
df0=pd.read_csv(links[0])
df1=pd.read_csv(links[1])
df2=pd.read_csv(links[2])
df3=pd.read_csv(links[3])
df4=pd.read_csv(links[4])
df5=pd.read_csv(links[5])
df6=pd.read_csv(links[6])
df7=pd.read_csv(links[7])
df8=pd.read_csv(links[8])
df9=pd.read_csv(links[9])
df10=pd.read_csv(links[10])

mta_df=pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])

In [5]:
mta_df.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,00:00:00,REGULAR,6980704,2367517
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,04:00:00,RECOVR AUD,6980727,2367519
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,08:00:00,RECOVR AUD,6980747,2367546
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,12:00:00,REGULAR,6980855,2367610
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,16:00:00,REGULAR,6981109,2367667

In [6]:
mta_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2248180 entries, 0 to 203794
Data columns (total 11 columns):
 #   Column                                                                Dtype
---  ------                                                                -----
 0   C/A                                                                   object
 1   UNIT                                                                  object
 2   SCP                                                                   object
 3   STATION                                                               object
 4   LINENAME                                                              object
 5   DIVISION                                                              object
 6   DATE                                                                  object
 7   TIME                                                                  object
 8   DESC                                                                  object
 9   ENTRIES                                                               int64
 10  EXITS                                                                 int64
dtypes: int64(2), object(9)
memory usage: 205.8+ MB

In [7]:
mta_df["DATETIME"]=pd.to_datetime(mta_df["DATE"]+" "+mta_df["TIME"],infer_datetime_format=True)

In [8]:
mta_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2248180 entries, 0 to 203794
Data columns (total 12 columns):
 #   Column                                                                Dtype
---  ------                                                                -----
 0   C/A                                                                   object
 1   UNIT                                                                  object
 2   SCP                                                                   object
 3   STATION                                                               object
 4   LINENAME                                                              object
 5   DIVISION                                                              object
 6   DATE                                                                  object
 7   TIME                                                                  object
 8   DESC                                                                  object
 9   ENTRIES                                                               int64
 10  EXITS                                                                 int64
 11  DATETIME                                                              datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 223.0+ MB

In [9]:
mta_df.rename(columns={"C/A":"CA"}, inplace=True)
mta_df.columns=[column.strip() for column in mta_df.columns]
mta_df.columns

Index(['CA', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'DATETIME'],
      dtype='object')

In [10]:
mta_df.head(10)

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,00:00:00,REGULAR,6980704,2367517,2019-03-16 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,04:00:00,RECOVR AUD,6980727,2367519,2019-03-16 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,08:00:00,RECOVR AUD,6980747,2367546,2019-03-16 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,12:00:00,REGULAR,6980855,2367610,2019-03-16 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,16:00:00,REGULAR,6981109,2367667,2019-03-16 16:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2019,20:00:00,REGULAR,6981415,2367704,2019-03-16 20:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/17/2019,00:00:00,REGULAR,6981564,2367731,2019-03-17 00:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/17/2019,04:00:00,REGULAR,6981579,2367731,2019-03-17 04:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/17/2019,08:00:00,REGULAR,6981587,2367743,2019-03-17 08:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/17/2019,12:00:00,REGULAR,6981655,2367794,2019-03-17 12:00:00

In [11]:
dupes=mta_df[mta_df.duplicated()]
dupes

Empty DataFrame
Columns: [CA, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, DATETIME]
Index: []

In [12]:
mta_df["TURNSTILE"]=mta_df["CA"]+" "+mta_df["UNIT"]+" "+mta_df["SCP"]+" "+mta_df["STATION"]
mta_df["TURNSTILE"].head()

0    A002 R051 02-00-00 59 ST
1    A002 R051 02-00-00 59 ST
2    A002 R051 02-00-00 59 ST
3    A002 R051 02-00-00 59 ST
4    A002 R051 02-00-00 59 ST
Name: TURNSTILE, dtype: object

In [ ]:
##can't use sum since these entries are from several times during the same day    
mta_df.groupby(['TURNSTILE','DATE']).ENTRIES.agg([('DAILY_ENTRIES','')])